<p>
  Parrafo del componente {{ componente }}
</p>
<div>
<a [href]="url">Enlace referenciado hacia google con corchetes property binding  </a>
<a href="{{url}}">Enlace referenciado hacia google con llaves  </a>
<br>

En la vista del componente lo que se ve es [href]="url", en el ts del componente define la variable url. Al compilar, url se sustituye por lo que toque.
Tambien se puede hacer por interpolación de strings con las llaves
</div>

<div> 
  <h2></h2>Propiedad de boton desactivado. Con property binding:
  <button [disabled]="disabled" (click) = "interpolation()" >Property binding activo</button>
  <button [disabled]="! disabled" (click) = "interpolation()">Property binding desactivado</button>

  <h2>Llamada a metodo add()</h2>
   <Button (click)="add()">Add quantity</Button>
  Has hecho {{clicks}} clicks
  
  
  
</div>